@charset "UTF-8";



*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.432);
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
   

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%,-50%);
    
}

section#login > div#imagem{
    background:#5f2c82 url(../imagens/pexels-vinícius-estevão-2896034\ \(1\).jpg) ;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario{
    padding: 10px;
    display: block;

}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{ 
    font-size: 0.8em;
}

form>div.campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px ;
    border: 2px solid #5f2c82;
}

div.campo>label{
    display: none;
}


div.campo > input{
    background-color: #5fc9c5;
    width:calc(100%-40px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-14px );
}

div.campo>i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo>input:focus-within{
    background-color: white;
    border: none;
}



form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
}

form>input[type=submit]:hover{
    background-color:#3c8380 ;
    cursor: pointer;
}

form> a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #3c8380;
    border: 1px solid #49a09d ;
    border-radius: 5px ;
    text-decoration: none;
}

form>a.botao:hover{
    background-color:#3c8380 ;
}

form>a.botao>i{
    font-size: 0.8em;
}

